<ion-header>
  <ion-toolbar>
    <ion-title>
      Tea Categories
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="addTeaCategory()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-list>
    <ion-item *ngFor="let cat of categories">
      <ion-label>
        <div class="name">{{ cat.name }}</div>
        <div class="description">{{ cat.description }}</div>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
